name: .NET Test

on:
   push:
      branches:
         - main
   pull_request:
      branches:
         - main

jobs:
   test:
      runs-on: windows-latest # You can change to windows-latest or macos-latest if needed

      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup .NET
          uses: actions/setup-dotnet@v3
          with:
            dotnet-version: '8.0.x' # target .NET version
            
        - name: Restore Dependencies
          working-directory: GitHubActionsLab
          run: dotnet restore

        - name: Build the Project
          working-directory: GitHubActionsLab
          run: dotnet build --no-restore

        - name: Run Tests
          working-directory: GitHubActionsLab
          run: dotnet test --no-build --verbosity normal
